<!-- SEO Keywords -->
<!-- keywords: latest projects, portfolio work, frontend projects, react projects, full stack apps, hasan sakkour -->
<h1 class="sub-title pt-5">
  <span data-key="projects_title1">Latest</span>
  <span data-key="projects_title2">Projects</span>
</h1>

<div class="container">
  <div class="row mt-5">
    <div class="projects-container">
      <!-- PROJECT 1 -->
      <div class="project-card" data-aos="zoom-in">
        <div class="project-image">
          <a href="">
            <img src="../../../images/يصصي.png" loading="lazy" alt="Project 1"
          /></a>
        </div>

        <div class="project-content">
          <h3 data-key="project1_title">Project Title 1</h3>

          <p data-key="project1_desc">
            A modern responsive web application built with React & Tailwind.
          </p>

          <div class="tech-stack">
            <span data-key="project1_tech1">React</span>
            <span data-key="project1_tech2">Bootstrap</span>
            <span data-key="project1_tech3">API</span>
          </div>

          <div class="project-buttons">
            <a
              href="https://chipper-tarsier-c8170c.netlify.app/"
              class="btn-view"
              data-key="project_view"
              >View Project</a
            >
            <a href="https://github.com/hasansakkour51-dotcom/Articula" class="btn-github" data-key="project_github">GitHub</a>
          </div>
        </div>
      </div>
      <div class="project-card" data-aos="zoom-in">
        <div class="project-image">
          <a href="">
            <img src="../../../images/TamStore.jpg" loading="lazy" alt="Project 1"
          /></a>
        </div>

        <div class="project-content">
          <h3 data-key="project10_title">Project Title 1</h3>

          <p data-key="project10_desc">
            A modern responsive web application built with React & Tailwind.
          </p>

          <div class="tech-stack">
            <span data-key="project10_tech1">React</span>
            <span data-key="project10_tech2">Bootstrap</span>
            <span data-key="project10_tech3">API</span>
          </div>

          <div class="project-buttons">
            <a
              href="https://cool-lokum-01f144.netlify.app/"
              class="btn-view"
              data-key="project_view"
              >View Project</a
            >
            <a href="https://github.com/hasansakkour51-dotcom/TamStore-E-commerce" class="btn-github" data-key="project_github">GitHub</a>
          </div>
        </div>
      </div>
      <!-- PROJECT 2 -->
      <div class="project-card" data-aos="zoom-in">
        <div class="project-image">
          <a href="">
            <img src="../../../images/IPDC.jpg" loading="lazy" alt="Project 1"
          /></a>
        </div>

        <div class="project-content">
          <h3 data-key="project5_title">Project Title 1</h3>

          <p data-key="project5_desc">
            A modern responsive web application built with React & Tailwind.
          </p>

          <div class="tech-stack">
            <span data-key="project5_tech1">React</span>
            <span data-key="project5_tech2">Bootstrap</span>
            <span data-key="project5_tech3">API</span>
          </div>

          <div class="project-buttons">
            <a
              href="https://delightful-marshmallow-600c6a.netlify.app/"
              class="btn-view"
              data-key="project_view"
              >View Project</a
            >
            <a href="https://github.com/hasansakkour51-dotcom/IPDC_Landing_Page" class="btn-github" data-key="project_github">GitHub</a>
          </div>
        </div>
      </div>

      <!-- PROJECT 3 -->
      <div class="project-card" data-aos="zoom-in">
        <div class="project-image">
          <a href=""
            ><img
              src="../../../images/FutueTech.jpg"
              loading="lazy"
              alt="Project 3"
          /></a>
        </div>

        <div class="project-content">
          <h3 data-key="project3_title">Project Title 3</h3>

          <p data-key="project3_desc">
            Full-stack application with clean architecture and API integration.
          </p>

          <div class="tech-stack">
            <span data-key="project3_tech1">Html</span>
            <span data-key="project3_tech2">Css</span>
            <span data-key="project3_tech3">js</span>
          </div>

          <div class="project-buttons">
            <a
              href="https://precious-dieffenbachia-74b7c9.netlify.app/"
              class="btn-view"
              data-key="project_view"
              >View Project</a
            >
            <a href="https://github.com/hasansakkour51-dotcom/FutureTech" class="btn-github" data-key="project_github">GitHub</a>
          </div>
        </div>
      </div>
      <!--------------------------------------------------------->
      <div class="project-card" data-aos="zoom-in">
        <div class="project-image">
          <a href="">
            <img
              src="../../../images/Dwello.jpg"
              loading="lazy"
              alt="Project 1"
          /></a>
        </div>

        <div class="project-content">
          <h3 data-key="project4_title">Project Title 1</h3>

          <p data-key="project4_desc">
            A modern responsive web application built with React & Tailwind.
          </p>

          <div class="tech-stack">
            <span data-key="project4_tech1">React</span>
            <span data-key="project4_tech2">Bootstrap</span>
            <span data-key="project4_tech3">API</span>
          </div>

          <div class="project-buttons">
            <a
              href="https://deft-lamington-b67d13.netlify.app/"
              class="btn-view"
              data-key="project_view"
              >View Project</a
            >
            <a href="https://github.com/hasansakkour51-dotcom/Dwello_Landing_Page" class="btn-github" data-key="project_github">GitHub</a>
          </div>
        </div>
      </div>
      <!--------------------------------------------------------->

      <div class="project-card" data-aos="zoom-in">
        <div class="project-image">
          <img
            src="../../../images/Annotation 2025-10-18 035333.png"
            loading="lazy"
            alt="Project 2"
          />
        </div>

        <div class="project-content">
          <h3 data-key="project6_title">Project Title 2</h3>

          <p data-key="project6_desc">
            Landing page with animations, neon effects, and modern UI.
          </p>

          <div class="tech-stack">
            <span data-key="project6_tech1">HTML</span>
            <span data-key="project6_tech2">CSS</span>
            <span data-key="project6_tech3">JavaScript</span>
          </div>

          <div class="project-buttons">
            <a href="https://loquacious-donut-f506f4.netlify.app/" class="btn-view" data-key="project_view"
              >View Project</a
            >
            <a href="#" class="btn-github" data-key="project_github">GitHub</a>
          </div>
        </div>
      </div>

     
      <div class="project-card" data-aos="zoom-in">
        <div class="project-image">
          <a href=""
            ><img
              src="../../../images/Lawyer.jpg"
              loading="lazy"
              alt="Project 3"
          /></a>
        </div>

        <div class="project-content">
          <h3 data-key="project7_title">Project Title 3</h3>

          <p data-key="project7_desc">
            Full-stack application with clean architecture and API integration.
          </p>

          <div class="tech-stack">
            <span data-key="project7_tech1">Html</span>
            <span data-key="project7_tech2">Css</span>
            <span data-key="project7_tech3">js</span>
          </div>

          <div class="project-buttons">
            <a
              href="https://stupendous-centaur-d4709f.netlify.app/"
              class="btn-view"
              data-key="project_view"
              >View Project</a
            >
            <a href="https://github.com/hasansakkour51-dotcom/Lawyer" class="btn-github" data-key="project_github">GitHub</a>
          </div>
        </div>
      </div>

      <!-------------------------------------------------->
      <div class="project-card" data-aos="zoom-in">
        <div class="project-image">
          <a href="">
            <img src="../../../images/Jadoo.jpg" loading="lazy" alt="Project 1"
          /></a>
        </div>

        <div class="project-content">
          <h3 data-key="project6_title">Project Title 1</h3>

          <p data-key="project6_desc">
            A modern responsive web application built with React & Tailwind.
          </p>

          <div class="tech-stack">
            <span data-key="project6_tech1">React</span>
            <span data-key="project6_tech2">Bootstrap</span>
            <span data-key="project6_tech3">API</span>
          </div>

          <div class="project-buttons">
            <a
              href="https://boisterous-travesseiro-a16d7e.netlify.app/"
              class="btn-view"
              data-key="project_view"
              >View Project</a
            >
            <a href="https://github.com/hasansakkour51-dotcom/Jadoo_Landing_Page" class="btn-github" data-key="project_github">GitHub</a>
          </div>
        </div>
      </div>
      <!---------------------------------------------------->
      <div class="project-card" data-aos="zoom-in">
        <div class="project-image">
          <a href="">
            <img src="../../../images/Viatours.jpg" loading="lazy" alt="Project 1"
          /></a>
        </div>

        <div class="project-content">
          <h3 data-key="project8_title">Project Title 1</h3>

          <p data-key="project8_desc">
            A modern responsive web application built with React & Tailwind.
          </p>

          <div class="tech-stack">
            <span data-key="project8_tech1">React</span>
            <span data-key="project8_tech2">Bootstrap</span>
            <span data-key="project8_tech3">API</span>
          </div>

          <div class="project-buttons">
            <a
              href="https://animated-bavarois-183355.netlify.app/"
              class="btn-view"
              data-key="project_view"
              >View Project</a
            >
            <a href="https://github.com/hasansakkour51-dotcom/Viatours" class="btn-github" data-key="project_github">GitHub</a>
          </div>
        </div>
      </div>
      <div class="project-card" data-aos="zoom-in">
        <div class="project-image">
          <a href="">
            <img src="../../../images/HasanLandingPage.jpg" loading="lazy" alt="Project 1"
          /></a>
        </div>

        <div class="project-content">
          <h3 data-key="project9_title">Project Title 1</h3>

          <p data-key="project9_desc">
            A modern responsive web application built with React & Tailwind.
          </p>

          <div class="tech-stack">
            <span data-key="project9_tech1">React</span>
            <span data-key="project9_tech2">Bootstrap</span>
            <span data-key="project9_tech3">API</span>
          </div>

          <div class="project-buttons">
            <a
              href="https://aquamarine-chimera-8cd7be.netlify.app/"
              class="btn-view"
              data-key="project_view"
              >View Project</a
            >
            <a href="https://github.com/hasansakkour51-dotcom/Hasan-Landing-Page/tree/main" class="btn-github" data-key="project_github">GitHub</a>
          </div>
        </div>
      </div>
      
      <a href="https://github.com/hasansakkour51-dotcom" class="github-link">
        More in GitHub <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
