<div class="header">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <!-- Logo -->
      <div class="col-auto">
        <a href="#" class="logo" data-aos="fade-down" data-key="nav_logo"
          >Hasan</a
        >
      </div>

      <!-- Desktop Nav -->
      <div class="col-auto d-none d-lg-block">
        <nav class="navbar">
          <a
            href="#hero"
            data-aos="fade-down"
            data-aos-delay="100"
            data-key="nav_home"
            >Home</a
          >
          <a
            href="#about"
            data-aos="fade-down"
            data-aos-delay="200"
            data-key="nav_about"
            >About</a
          >
          <a
            href="#services"
            data-aos="fade-down"
            data-aos-delay="200"
            data-key="nav_services"
            >Services</a
          >
          <a
            href="#skills"
            data-aos="fade-down"
            data-aos-delay="300"
            data-key="nav_skill"
            >Skill</a
          >
          <a
            href="#latestProject"
            data-aos="fade-down"
            data-aos-delay="400"
            data-key="nav_portfolio"
            >Portfolio</a
          >
          <a
            href="#contact"
            data-aos="fade-down"
            data-aos-delay="500"
            data-key="nav_contact"
            >Contact</a
          >

          <!-- Language Button -->
          <button id="langToggle" class="lang-btn ms-3">AR</button>
        </nav>
      </div>

      <!-- Mobile Menu Button -->
      <div class="col-auto d-lg-none">
        <button
          class="menu-toggle"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#mainOffcanvas"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MOBILE MENU -->
<div class="offcanvas offcanvas-end main-offcanvas" id="mainOffcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" data-key="nav_menu">Menu</h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>

  <div class="offcanvas-body">
    <nav class="offcanvas-nav">
      <a href="#hero" data-key="nav_home">Home</a>
      <a href="#about" data-key="nav_about">About</a>
      <a href="#services" data-key="nav_services">Services</a>
      <a href="#latestProject" data-key="nav_portfolio">Portfolio</a>
      <a href="#skills" data-key="nav_skill">Skill</a>

      <a href="#contact" data-key="nav_contact">Contact</a>

      <!-- Language Button (Mobile) -->
      <button id="langToggleMobile" class="lang-btn mt-3">AR</button>
    </nav>
  </div>
</div>
