<!-- SEO Keywords -->
<!-- keywords: footer, contact, hasan sakkour, web developer, portfolio -->

<footer class="footer">
  <div class="footer-content">
    <h2 class="footer-logo" data-key="footer_logo">Hasan Sakkour</h2>

    <p class="footer-text" data-key="footer_text">
      Building modern, fast, and beautiful web experiences.
    </p>

    <div class="footer-socials">
      <a href="https://github.com/hasan-sakkour"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://linkedin.com/in/hasan-sakkour-03480230b"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.instagram.com/hasan_sakour1?igsh=OGt2OXd2aHprbWM1"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.facebook.com/share/1FMQwKXLCH/"
        ><i class="fa-brands fa-facebook"></i
      ></a>
    </div>

    <!-- LANGUAGE SWITCH BUTTON -->
    <button id="langToggleFooter" class="lang-btn-footer">EN</button>

    <div class="footer-bottom">
      <p data-key="footer_rights">© 2024 Hasan. All Rights Reserved.</p>
    </div>
  </div>
</footer>
