<!-- SEO Keywords -->
<!-- keywords: frontend developer, web developer, ui ux designer, portfolio, hasan sakkour, modern websites, responsive design -->

<div class="home">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <!-- النص -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="home-content" data-aos="fade-right">
          <h3 data-key="welcome">Welcome, I'm</h3>
          <h1 data-key="name">Hasan Sakkour</h1>
          <h3>A Passionate <span class="text"></span></h3>

          <p data-key="exp">
            I am a Frontend Developer with over 2 years of experience.
          </p>
          <p data-key="expertise">
            My expertise is creating websites and frontend designs.
          </p>

          <div class="home-sci" data-aos="zoom-in" data-aos-delay="300">
            <a href="https://www.facebook.com/share/1FMQwKXLCH/"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a
              href="https://www.instagram.com/hasan_sakour1?igsh=OGt2OXd2aHprbWM1"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="https://linkedin.com/in/hasan-sakkour-03480230b"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </div>

          <a
            href="#"
            class="btn"
            data-aos="fade-up"
            data-aos-delay="400"
            data-key="more"
          >
            More About Me
          </a>
        </div>
      </div>

      <!-- الصورة -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="home-img d-flex" data-aos="fade-left">
          <div class="avatar-wrapper">
            <div class="avatar">
              <img src="../../../images/a.jpg" alt="profile" loading="lazy" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="falling-stars">
    <span style="left: 12%; animation-duration: 7s; animation-delay: 0s"></span>
    <span
      style="left: 28%; animation-duration: 8s; animation-delay: 1.5s"
    ></span>
    <span
      style="left: 45%; animation-duration: 9s; animation-delay: 0.8s"
    ></span>
    <span
      style="left: 60%; animation-duration: 7.5s; animation-delay: 2s"
    ></span>
    <span
      style="left: 72%; animation-duration: 10s; animation-delay: 1s"
    ></span>
    <span
      style="left: 85%; animation-duration: 8.5s; animation-delay: 2.8s"
    ></span>
    <span
      style="left: 35%; animation-duration: 9.5s; animation-delay: 3s"
    ></span>
    <span
      style="left: 90%; animation-duration: 11s; animation-delay: 1.7s"
    ></span>
    <span
      style="left: 35%; animation-duration: 9.5s; animation-delay: 3s"
    ></span>
    <span
      style="left: 90%; animation-duration: 11s; animation-delay: 1.7s"
    ></span>
    <span
      style="left: 35%; animation-duration: 9.5s; animation-delay: 3s"
    ></span>
    <span
      style="left: 90%; animation-duration: 11s; animation-delay: 1.7s"
    ></span>
  </div>
</div>
